<div class="login-wrap">
	<div class="login-html">
		<input id="tab-1" type="radio" name="tab" class="sign-up" checked><label for="tab-2" class="tab">Novo contrato</label>
<%= render 'form', contract: @contract %>
	
</div>

<% link_to 'Back' ,contracts_path,class:"button" %>
</div>